*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(180deg,#140022,#25003b);
color:white;
text-align:center;
}

.app{
padding:20px;
padding-bottom:100px;
}

.page{
display:none;
animation:fade .3s;
}

.page.active{
display:block;
}

@keyframes fade{
from{opacity:0;}
to{opacity:1;}
}

h1{
font-size:34px;
color:#ffd54a;
margin-top:20px;
}

h2{
color:#ffd54a;
margin:20px;
}

.subtitle{
color:#ddd;
margin-bottom:20px;
}

.main-img{
width:100%;
max-width:360px;
border-radius:20px;
box-shadow:0 0 25px #8a2be2;
margin:20px auto;
display:block;
}

.buttons{
display:flex;
flex-direction:column;
gap:15px;
margin-top:25px;
}

button,.link{
background:#8a2be2;
color:white;
border:none;
padding:16px;
border-radius:18px;
font-size:18px;
font-weight:bold;
text-decoration:none;
box-shadow:0 0 15px #a855f7;
}

button:active{
transform:scale(.97);
}

nav{
position:fixed;
bottom:0;
left:0;
width:100%;
display:flex;
justify-content:space-around;
background:#1b012d;
padding:10px;
}

nav button{
background:none;
box-shadow:none;
font-size:22px;
color:white;
display:flex;
flex-direction:column;
align-items:center;
}

nav span{
font-size:12px;
margin-top:3px;
}