*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif;
}

body{
background:#000;
color:#fff;
overflow-x:hidden;
}

.background{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:url("fond.jpg.PNG") center center/cover no-repeat;
z-index:-2;
}

.overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.45);
backdrop-filter:blur(2px);
z-index:-1;
}

.app{
padding:20px;
padding-bottom:110px;
}

.page{
display:none;
animation:fade .3s;
}

.page.active{
display:block;
}

@keyframes fade{
from{opacity:0;transform:translateY(15px);}
to{opacity:1;transform:translateY(0);}
}

.top-logo{
display:flex;
justify-content:center;
margin:15px 0 25px;
}

.top-logo img{
width:120px;
height:120px;
border-radius:28px;
object-fit:cover;
box-shadow:0 0 25px rgba(128,0,255,.8);
}

.category-btn{
width:100%;
height:70px;
background:#111;
border:2px solid #6d2cff;
border-radius:24px;
color:white;
font-size:22px;
font-weight:700;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 25px;
margin-bottom:20px;
box-shadow:0 0 20px rgba(128,0,255,.6);
}

.dropdown{
display:none;
background:#151515;
border-radius:20px;
margin-bottom:20px;
overflow:hidden;
border:1px solid #6d2cff;
}

.dropdown button{
width:100%;
padding:18px;
background:none;
border:none;
color:white;
font-size:18px;
text-align:left;
border-bottom:1px solid rgba(255,255,255,.08);
}

.dropdown button:last-child{
border:none;
}

.big-card{
margin-bottom:22px;
border-radius:28px;
overflow:hidden;
box-shadow:0 0 30px rgba(128,0,255,.5);
}

.big-card img{
width:100%;
display:block;
}

.full-img{
width:100%;
border-radius:25px;
margin:20px 0;
box-shadow:0 0 30px rgba(128,0,255,.5);
}

h1{
text-align:center;
margin:15px 0;
font-size:34px;
color:#ffd86b;
text-shadow:0 0 15px #8b39ff;
}

.gold-btn{
width:100%;
padding:18px;
border:none;
border-radius:20px;
font-size:20px;
font-weight:700;
background:linear-gradient(90deg,#ffd86b,#d89d24);
color:#1a0033;
margin-top:20px;
}

.link-btn{
display:block;
margin:15px 0;
padding:18px;
border-radius:18px;
background:#111;
color:#fff;
text-decoration:none;
font-size:20px;
text-align:center;
border:1px solid #6d2cff;
box-shadow:0 0 15px rgba(128,0,255,.5);
}

nav{
position:fixed;
bottom:0;
left:0;
right:0;
height:85
