*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,sans-serif;
}

body{
background:#090011;
color:white;
overflow-x:hidden;
}

.background{
position:fixed;
inset:0;
background:
linear-gradient(rgba(20,0,30,.72),rgba(20,0,30,.85)),
url("fond.PNG") center/cover no-repeat;
z-index:-2;
}

.app{
padding:24px;
padding-bottom:120px;
}

.page{
display:none;
animation:fade .35s ease;
}

.page.active{
display:block;
}

@keyframes fade{
from{opacity:0;transform:translateY(15px);}
to{opacity:1;transform:translateY(0);}
}

/* BANNIÈRE DÉFILANTE */
.scroll-banner{
width:100%;
height:46px;
overflow:hidden;
white-space:nowrap;
background:#080010;
border-bottom:1px solid rgba(157,77,255,.45);
box-shadow:0 0 18px rgba(157,77,255,.45);
display:flex;
align-items:center;
margin-bottom:18px;
}

.scroll-track{
display:inline-flex;
flex-wrap:nowrap;
white-space:nowrap;
width:max-content;
animation:scrollLeft 22s linear infinite;
}

.scroll-track span{
display:inline-block;
white-space:nowrap;
flex-shrink:0;
color:#ffffff;
font-size:22px;
font-weight:700;
margin-right:34px;
text-shadow:0 0 10px #9d4dff;
}

@keyframes scrollLeft{
from{transform:translateX(0);}
to{transform:translateX(-50%);}
}

.logo{
display:block;
width:155px;
height:155px;
margin:25px auto;
border-radius:32px;
object-fit:cover;
box-shadow:0 0 40px #8d39ff;
}

.select-btn{
width:100%;
height:82px;
border-radius:28px;
background:rgba(18,18,18,.94);
color:white;
font-size:20px;
font-weight:900;
letter-spacing:2px;
padding:0 25px;
display:flex;
justify-content:space-between;
align-items:center;
border:2px solid #7d32ff;
box-shadow:0 0 25px rgba(125,50,255,.65);
margin-bottom:25px;
}

h2{
font-size:30px;
margin:22px 0;
text-align:center;
color:#ffd86b;
text-shadow:0 0 15px #7d32ff;
}

.card,
.product-box{
background:rgba(0,0,0,.45);
border-radius:30px;
overflow:hidden;
margin-bottom:28px;
border:1px solid rgba(255,255,255,.12);
backdrop-filter:blur(12px);
box-shadow:0 0 30px rgba(140,57,255,.45);
}

.card img,
.product-img{
width
